<section class="centered aboutTime">
	<h1 class='theH1'>About Us</h1>
	<br><br>
	<div class='holder'>
	<ul class='theUl'>
	<div class='row' id='allPhotos'>
	    <div class='col-sm-4'>
	        <li class='theLi'>
	            <h3 class='theH3'><a href='https://github.com/shockeyt' class="githubLink">Tyler Shockey</a></h3><br>
	                <img class='profile' src='images/tyler.png'><br>
	                <p class="bio">Tyler is the fearless leader, he helped pull us up by our bootstrap CDN's when we were feeling down./p><br>
	            
	        </li>
	    </div>
	    <div class='col-sm-4'>
	        <li class='theLi'>
	            <h3 class='theH3'><a href='https://github.com/bobbyschank' class="githubLink">Bob Schank</a></h3><br>
	                <img class='profile' src='images/bob.png'><br>
	                <p class="bio">This is Bob. He loves SQL, and sometimes fishing.</p><br>
	            
	        </li>
	    </div>
	    <div class='col-sm-4'>
	        <li class='theLi'>
	            <h3 class='theH3'><a href='https://github.com/alexandroidd' class="githubLink">Alex Creighton</a><br></h3>
	                <img class='profile' src='images/alex.jpg'><br>
	                <p class="bio">This is Alex, he writes great comments.</p><br>
	        </li>
	    </div>
	</ul>
	</div>
</section>