<section class="frontlanding">
	<!-- <button id='about' class="btn"><a href="/about">About</a></button> -->

	<div><a href="/about" class="btn btn-primary pull-right" role="button">About Us</a></div><br>
	<h1 id='title'>Fly Lab</h1>
	
	<p class='text'>Fly Lab is a <span id='friend'> User-Friendly</span> app for fisherman of <span id='under'>all abilities</span> who simply want to know how to plan for the current weather at their favorite spot. We agree that it's better to <span id='how'>'Know Before You Go'</span>, so we decided to make an App that would provide exactly that: The most up-to-date conditions for weather and streamflow. 

	Sign up and log in to begin using Fly Lab!</p>

	<br>
	<br>
<!-- 	<a href="/home">Home</a><br> -->
	<a href="/home" class="btn homebutton">Enter</a><br>
</section>

	<div class="fullscreen-bg">
	    <video loop muted autoplay poster='videos/fishImage.png' class="fullscreen-bg__video">
	        <source src="videos/newFishVid.mp4" type="video/webm">
	    </video>
	</div>
